.login-popup{
    width: 300px;
    height: 200px;
    z-index: 1000;
    background-color: white;
    color: black;
    border: 2px solid black;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one{
    background-color:#048467;
    color: white;
    border: 2px solid black;
    margin-right: 5px;
}

.two{
    background-color:#c1480b;
    color: white;
    border: 2px solid black;
}

.buttons{
    display: flex;
    margin-top: 30px;
}

